/* Coolors Exported Palette - https://coolors.co/1b264f-274690-576ca8-302b27-f5f3f5 */

/* SCSS HEX */
$space-cadet: #1b264fff;
$dark-cornflower-blue: #274690ff;
$blue-yonder: #576ca8ff;
$jet: #302b27ff;
$cultured: #f5f3f5ff;

/* SCSS HSL */
$space-cadet: hsla(227, 49%, 21%, 1);
$dark-cornflower-blue: hsla(222, 57%, 36%, 1);
$blue-yonder: hsla(224, 32%, 50%, 1);
$jet: hsla(27, 10%, 17%, 1);
$cultured: hsla(300, 9%, 96%, 1);

/* SCSS RGB */
$space-cadet: rgba(27, 38, 79, 1);
$dark-cornflower-blue: rgba(39, 70, 144, 1);
$blue-yonder: rgba(87, 108, 168, 1);
$jet: rgba(48, 43, 39, 1);
$cultured: rgba(245, 243, 245, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1b264fff, #274690ff, #576ca8ff, #302b27ff, #f5f3f5ff);
$gradient-right: linear-gradient(90deg, #1b264fff, #274690ff, #576ca8ff, #302b27ff, #f5f3f5ff);
$gradient-bottom: linear-gradient(180deg, #1b264fff, #274690ff, #576ca8ff, #302b27ff, #f5f3f5ff);
$gradient-left: linear-gradient(270deg, #1b264fff, #274690ff, #576ca8ff, #302b27ff, #f5f3f5ff);
$gradient-top-right: linear-gradient(45deg, #1b264fff, #274690ff, #576ca8ff, #302b27ff, #f5f3f5ff);
$gradient-bottom-right: linear-gradient(135deg, #1b264fff, #274690ff, #576ca8ff, #302b27ff, #f5f3f5ff);
$gradient-top-left: linear-gradient(225deg, #1b264fff, #274690ff, #576ca8ff, #302b27ff, #f5f3f5ff);
$gradient-bottom-left: linear-gradient(315deg, #1b264fff, #274690ff, #576ca8ff, #302b27ff, #f5f3f5ff);
$gradient-radial: radial-gradient(#1b264fff, #274690ff, #576ca8ff, #302b27ff, #f5f3f5ff);